<div class="wrapper">
	<nav id="sidebar">
		<div class="sidebar-header">
			<h3>¿Qué puedo hacer?</h3>
		</div>
		<ul class="list-unstyled components">
			
			<% if current_user.image.attached? %>
			<div style="width:200px; height:auto" class="text-center">
				<%= image_tag(current_user.image, style:'width:100%')%>
			</div>
			<br>
			<% end %>
			<% if current_user.try(:admin?) %>
			<li>
				<%= link_to('Administrar página', rails_admin_path) %>
			</li>
			<% end %>
			<% if current_user.try(:coordinador?) %>
			<li class="active">
				<%= link_to('Mis documentos', documents_path) %>
			</li>
			<li>
				<%= link_to 'Subir documento', new_document_path %>
			</li>
			<% end %>
			<li>
				<%= link_to('Documentos compartidos', documents_shared_path) %>
			</li>
			<li>
				<%= link_to 'Chat', chats_path %>
			</li>
			<li>
				<%= link_to(current_user.nombre, edit_user_registration_path) %>
			</li>
		</ul>
	</nav>
	<div id="content">
		<div class="container">
			<div class="row">
				<div class="col-4">
					<button type="button" id="sidebarCollapse" class="btn btn-info">
						<i class="fas fa-aling-left"></i>
						<span>Menú</span>
					</button>
				</div>
				<div class="col-4">
					<a class="btn btn-danger" role="button" href=<%=destroy_user_session_path %>> Cerrar sesión
					</a>
				</div>
				<% if !(current_user.generatedKeys) %>
				<div class="col-4">
					<a class="btn btn-warning" role="button" href=<%=signatures_new_path %>> Generar llaves</a>
				</div>
				<% end %>
			</div>
		<br/>
		
		<center>
			<h2>Documentos</h2>
		</center><br />
		<div class="card-columns" id="cards">
			<% @documents.each do |document| %>
			<div class='card bg-light'>
				<div class='card-body text-center'>
					<h4 class='card-title'><%= document.nombre %></h4>
					<p class='card-text'><%= document.created_at %></p>
					<%= link_to 'Ver detalles', document_path(document) %>
				</div>
			</div>
			<% end %>
		</div>
	</div>
	
	<script type="text/javascript">
		$(document).ready(function () {
			$('#sidebarCollapse').on('click', function () {
				$('#sidebar').toggleClass('active');
			});
		});
	</script>
</div>