<head>
	<div class="jumbotron bg-primary text-center">
		<h1><font color="white">FirmAndando</font></h1>
	</div>
	<%= link_to "Regresar", :back %>
</head>
<body>
	<div class="modal fade" id="editarDocumento" tabindex="-1" role="dialog" aria-labelledby="tituloModal" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header text-center">
					<h5 class="modal-title" id="tituloModal">Descripci贸n</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div class="md-form mb-5">
					<%= form_with model: @document, local: true do |form| %>
					<%= form.label :Nombre %><br>
    				<%= form.text_field(:nombre, :value => @document.nombre, :class=>'form-control')%><br>
					<%= form.label :Descripci贸n %><br>
    				<%= form.text_area(:descripcion, :value => @document.descripcion, :class=>'form-control') %>
    				</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
					<%= form.submit "Cambiar",:class=>'btn btn-primary' %>
					<% end %>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="compartirDocumento" tabindex="-1" role="dialog" aria-labelledby="tituloModal" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header text-center">
					<h5 class="modal-title" id="tituloModal">Descripci贸n</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div class="md-form mb-5">
						<% document_user(@document.id) -%>
						<% if @users.size > 1 %>
							<div>
								<%= form_for @document, url: document_user_upload_path do |f| %>
									<div class="field">
										<%= f.label "Profesores:" %>
										<% @users.each do |user| %>
											<% if user.id != current_user.id %>
												<div class="field">
                              						<%= check_box_tag "users[]", user.id %> <%= user.nombre %>
                            					</div>
											<% end %>
										<% end %>
									</div>
									<%= hidden_field_tag(:documentid, @document.id) %>
                      				<%= f.submit 'Compartir', id: "boton-compartir", class: "btn btn-default"%>
								<%end %>
							</div>
						<% else %>
						<div class="field">
                    		<label>Ya compartiste el documento con todos los usuarios registrados.</label>
                  		</div>
						<% end %>
    				</div>
				</div>
				<div class="modal-footer">

				</div>
			</div>
		</div>
	</div>

<div class="border-form-div-extra">
	<h2>Detalles</h2>
	<p>
		<strong>Nombre:</strong>
		<%= @document.nombre %>
	</p>
	<p>
		<strong>Descripci贸n:</strong>
		<%= @document.descripcion %>
	</p>

	<h5>Opciones</h5><br>
	<%= link_to 'Abrir documento', @document.file %>
	</br><br>
	<%= link_to 'Descargar', @document.file, download: '' %>
	<% unless @document.user_id != current_user.id %>
		<br><br>
		<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#editarDocumento">Editar</button>

	<% end %>

	<% if @document.user_id != current_user.id && !@document.signed %>
		<br><br>
		<%= link_to('Firmar documento', documents_sign_path(id: @document.id))%>
	<% end %>

	<% if @document.signed %>
		<br><br>
		<strong>Documento firmado</strong>
	<% end %>

	<% if @document.user_id == current_user.id && current_user.coordinador %>
		<br><br>
		<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#compartirDocumento">Compartir documento</button>
	<% end %>
</div>

<div class="embed-responsive embed-responsive-16by9">
	<iframe class="embed-responsive-item" src=<%= url_for(@document.file) %> allowfullscreen></iframe>
</div>

</body>